@page
@model InternalSupport.Pages.SupportTicket.ResponseModel
@{
    ViewData["Title"] = "Response";
}
<h2>Your response will be submitted.Our team member will reach out you soon.</h2>
<div>
    <a asp-page="Create">Back</a>
</div>
